<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerBaseUrl</key>
	<string>https://townhall2.cloudapp.net</string>
	<key>ServerDataUrl</key>
	<string>https://townhall2.cloudapp.net</string>
	<key>ApiKey</key>
	<string>6ad50a5a9b42848f65b63cc375ee3e92</string>
</dict>
</plist>
